.program > .block.block-statements {
    height: 100%;
    overflow: auto;
}

.block.block-statements .ui-sortable-placeholder {
    visibility: visible !important;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: #999 0px 0px 5px;
}

.block.ui-draggable-dragging {
    box-shadow: #333 0px 0px 10px;
}

.block.block-inline input {
    -webkit-appearance: none;
    background: #FFF;
    border: 1px solid #CCC;
    padding: 5px;
}

.block.block-statement {
    float: left;
    clear: left;
    border: 1px solid #AAA;
    padding: 3px;
    margin: 3px;
    border-radius: 3px;
    background: #EEE;
    white-space: pre;
}

.block.block-inline {
    display: inline-block;
}

.block-toolbox h3 {
    clear: both;
    margin: 0;
    font-size: 16px;
    padding: 5px 2;
    font-family: Helvetica;
}