.block-editor {
    height: 100%;
}

.block-editor .program {
    height: 100%;
}

.program > .block.block-statements {
    height: 100%;
}

.block.block-statements .ui-sortable-placeholder {
    visibility: visible !important;
    height: 3px;
    background: #ADD8E6;
    margin: 0 3px;
}

.block.block-inline input, .block.block-inline .input {
    -webkit-appearance: none;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
}

.block.block-statements {
    overflow: auto;
}

.block.block-statement {
    overflow: auto;
}

.block.block-statement > div {
    display: inline-block;
    border: 1px solid #AAA;
    padding: 3px;
    margin: 3px;
    border-radius: 3px;
    background: #EEE;
    white-space: nowrap;
    cursor: move;
    vertical-align: middle;
    line-height: 29px;
}

.block.ui-draggable-dragging > div {
    box-shadow: #333 0px 0px 3px;
}

.block.block-inline {
    display: inline-block;
}

.block-toolbox h3 {
    clear: both;
    margin: 0;
    font-size: 16px;
    padding: 5px 3px;
    font-family: Helvetica;
}

.block-toolbox > .ui-draggable {
    font-size: 13px;
}

.block-toolbox > .ui-draggable > div > :not(.function) {
    display: none;
}

.block-toolbox > .ui-draggable > div > img.toolbox-image {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-left: 5px;
}

.block-toolbox > .ui-draggable input {
    font-size: 13px;
    padding: 2px;
}

.block-toolbox > .ui-draggable.ui-draggable-dragging {
    font-size: 13px;
}

.block-toolbox > .ui-draggable.ui-draggable-dragging > div > :not(.function) {
    display: inline-block;
}

.block-toolbox > .ui-draggable.ui-draggable-dragging > div > img.toolbox-image {
    display: none;
}

.block-toolbox > .ui-draggable.ui-draggable-dragging input {
    font-size: 13px;
    padding: 5px;
}

.block-rgb.block-name-r > div,
.block-rgb.block-name-r + .text,
.block-rgb.block-name-g,
.block-rgb.block-name-g + .text,
.block-rgb.block-name-b {
    display: none !important;
}

.block-rgb.block-name-r {
    background: rgb(255, 0, 0);
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #CCC;
    border-radius: 13px;
    cursor: pointer;
    margin: 0 1px;
}