/**
 * Textmate-like theme ported from Ace Editor.
 *
 * Only affects code within <... class="block"> tags.
 *
 * @author Sophia Westwood
 * @version 1.0.0
 */
.block, .block input {
    font-family: 'Proxima Nova Semibold', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

.block .text {
    color: #999;
}

.block .comment {
    color: rgb(76, 136, 107)
}

.block .constant {
    color: rgb(197, 6, 11);
}

.block .constant.numeric {
    color: #444;
}

.block .storage {
    color: rgb(0, 0, 255);
}

.block .string {
    color: rgb(3, 106, 7);
}

.block .keyword, .block .selector {
    color: blue;
}

.block .keyword.operator {
    color: rgb(104, 118, 135);
}

.block .inherited-class {
    font-style: italic;
}

.block .entity {
    color: #3E853F;
}

.block .entity.name.function {
    color: #444;
}

.block .support {
    color: #192140;
}

.block .variable.global, .block .variable.class, .block .variable.instance {
    color: rgb(49, 132, 149);
}